* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    src: url(pre/Pretendard-Black.woff) format('woff');
  }
  @font-face {
    font-family: "Pretendard";
    font-weight: 800;
    src: url(pre/Pretendard-ExtraBold.woff) format('woff');
  }
  @font-face {
    font-family: "Pretendard";
    font-weight: 700;
    src: url(pre/Pretendard-Bold.woff) format('woff');
  }
  @font-face {
    font-family: "Pretendard";
    font-weight: 600;
    src: url(pre/Pretendard-SemiBold.woff) format('woff');
  }
  @font-face {
    font-family: "Pretendard";
    font-weight: 500;
    src: url(pre/Pretendard-Medium.woff) format('woff');
  }
  @font-face {
    font-family: "Pretendard";
    font-weight: 400;
    src: url(pre/Pretendard-Regular.woff) format('woff');
  }
  @font-face {
    font-family: "Pretendard";
    font-weight: 300;
    src: url(pre/Pretendard-Light.woff) format('woff');
  }
  @font-face {
    font-family: "Pretendard";
    font-weight: 200;
    src: url(pre/Pretendard-ExtraLight.woff) format('woff');
  }
  @font-face {
    font-family: "Pretendard";
    font-weight: 100;
    src: url(pre/Pretendard-Thin.woff) format('woff');
  }
  
  body{
    font-family: Pretendard;
  }
  /* header */
  .nav{
    display: flex;
    width: 1821px;
    margin: 0 auto;
  }
  .gnb>ul{
    display: flex;
    list-style-type: none;
  }
  .nav-icon ul{
    display: flex;
    list-style-type: none;
  }
  .logo{
    font-size: 24px;
    letter-spacing: -0.025em;
    line-height: 140%;
    font-weight: 600;
  }
  .gnb a{
    font-size: 18px;
    color: #000;
    text-decoration: none;
    letter-spacing: -0.025em;
    line-height: 140%;
    font-weight: 600;
  }
  .logo-item{
    margin-right: 183px;
  }
  .gnb li{
    margin-right: 48px;
  }
  .gnb li:last-child{
    margin-right: 0;
  }
  .nav-icon{
    margin-left: 183px;
  }
  header{
    padding: 23px 0;
  }


  
  .nav-icon li:first-child{
    margin-right: 11px;
  }
  .content-01{
    width: 100%;
    height: 670px;
    background: url('../images/aaa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
  }
  .slider h2{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #fff;
    margin-bottom: 10px;
  }
  .slider p{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: #fff;
    margin-bottom: 37px;
  }
  .slider button{
    background: none;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    padding: 14px 16px;
  }
  .slider{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 670px;
    justify-content: center;
    margin-left: 213px;
  }

  /* sec02 */
  
  .sec02{
    padding: 100px 0;
  }
  
  .sec02_title{
    text-align: center;
  
  }
  .sec02_title h2{
    margin-bottom: 20px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    letter-spacing: -0.025em;
  }
  .sec02_title p{
    font-size: 16px;
    margin-bottom: 80px;
  }
  
  .swiper{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
  }
  .swiper div {
    background: #868686;
    height: 500px;
  }


  .box1{
    width: 10%;
  }
  .box2 {
    width: 18%;
  }
  .box3 {
    width: 10%;
  }



  /* sec03 */

  .sec03{
    padding: 100px 0;
    margin: 0 auto;
  }
  .sec03_title{
    text-align: center;
  }
  .sec03_title h2{
    font-size: 32px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    letter-spacing: -0.025em;
  }

  .sec03_title p{
    font-size: 16px;
    margin-bottom: 80px;
  }

  .swiper_title{
    padding: 100px 0;
    width: 1320px;
    height: 500px;
    margin: 20px;
    background-color: #fff;
    margin: auto;
  }

  .swiper_title h2{
    font-size: 32px;
  }
  .swiper_title p{
    font-size: 16px;
  }

  .mt_12{
    margin: 0 12px;
  }

  .swiper_title .box{
    float: left;
    width: 432px;
    height: 386px;
  }

  .swiper_title .img{
    width: 432px;
    height: 386px;
    background-color: #868686;
  }
  .box2 {
    width: 432px;
    height: 386px;
  }
  .box3 {
    width: 432px;
    height: 386px;
  }
  header{
    position: sticky;
    bottom:0;
    background-color: #fff;
  }
  .gnb li:hover{
    background-color: aqua;
  }

/* sec04 */

.sec04{
    padding: 100px 0;
  }
  .sec04_title{
    text-align: center;
  }
  .sec04_title h2{
    font-size: 32px;
    margin-bottom: 40px;
    text-decoration: none;
  }

  .sec04_title p{
    font-size: 16px;
    margin-bottom: 80px;
  }

.swiper_aaa{
    background: #868686;
    height: 500px;
}

/* sec04-content */

.big04-content {
    width: 1214px;
    margin: 0 auto;
    display: flex;
    margin-top: 80px;
}

.big04-content .content-left{
    width: 650px;
    height: 450px;
    background-color: #D9D9D9;
    margin-right: 10px;

}


.big04-content .content-right{
    width: 554px;
    height: 450px;

    
}

.big04-content .content-right .right-text{
    width: 554px;
    height: 164px;

}

.big04-content .content-right .right-text h2{
    margin-bottom: 40px;
    line-height: 180%;
    font-weight: 600;
}

.big04-content .content-right .right-text p{
    margin-top: 40px;
}

.big04-content .content-right .right-items{
    width: 554px;
    height: 232px;
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
}

.big04-content .content-right .right-items .item{
    width: 178px;
    height: 232px;
    text-align: center;
}

.big04-content .content-right .right-items .item-img{
    width: 178px;
    height: 200px;
    background-color: #D9D9D9;
    margin-bottom: 10px;
}

.big04-content .content-right .right-items .item-name p{
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.025em;
    font-weight: 500;
}

.content-01{
  float: left;
}
.content-02{
  float: right;
}